.piano-scroll {
    background-color: lightgray;
}

.white-lanes {
    display: flex;
    position: relative;
    width: 100%;
}

.white-lane {
    position: absolute;
}

.black-lanes {
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    z-index: 1;
}

.black-lane {
    position: absolute;
}